<!DOCTYPE html>
<html>
<head>
<% include head %>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/jquery.tagit.css' />
</head>
<body>
<% include header %>
<div class="container">
<% include edit_photo %>
<!-- <% include edit_tag %> -->
<!-- <% include edit_user %> -->
<% include script %>
<script src="/javascripts/tag-it.js" type="text/javascript"></script>
<script src="/javascripts/tag.js" type="text/javascript"></script>
</body>
</html>