<!DOCTYPE html>
<html>
<head>
<% include head %>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/jquery.tagit.css' />
</head>
<body>
<% include header %>
<div class="container">
<% include edit_photo %>
<br>
<% include edit_tag %>
<br>
<% include edit_user %>
<br>
<script src="/javascripts/tag-it.js" type="text/javascript"></script>
<script src="/javascripts/tag.js" type="text/javascript"></script>
</body>
</html>