<header>
	<ul>
		<li class="header-item header-item-left"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
		<% if (typeof(session.user) != "undefined") { %>
		<li class="header-item header-item-middle">
			<form action="/search" method="post">
				<input class="search-bar" type="text" name="search_tag" placeholder="Search for users, tags">
			</form>
		</li>
		<li class="header-item header-item-right">
		<ul>
		<%
			if (locals.notif) { %>
			<a href="#"><div id="notif_nbr" class="numberCircle"><%= notif.lentgh%></div></a>
			<% } else { %>
			<a href="#"><div id="notif_nbr" onclick=get_all_notif() class="numberCircle">0</div></a>
			<% }
		%>
		</ul>
<!-- 		<ul id="header-selector">
				<li class="header-selector-main"><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
					<ul>
						<li class="header-selector-item"><a class="header-label" href="/edit_profil/<%= session.user.login%>">Settings</a></li>
						<li class="header-selector-item"><a class="header-button" href="/logout">Log out</a></li>
					</ul>
				</li>
		</ul> -->
			<a class="header-button" href="/profil/<%= session.user.login%>"><i class="fa fa-user" aria-hidden="true"></i></a>
			<ul id="header-selector">
				<li class="header-selector-main"><a href="#"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
					<ul>
						<li class="header-selector-item"><a class="header-label" href="/edit_profil/<%= session.user.login%>">Settings</a></li>
						<li class="header-selector-item"><a class="header-label" href="/chat" >Chat</a></li>
						<li class="header-selector-item"><a class="header-button" href="/logout">Log out</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<% } %>
	</ul>

</header>

<div class="notification" id="notification" ></div>