<!DOCTYPE html>
<html>

<head>
    <% include head.ejs%>
</head>

<body>
	<% include header %>
	<div class="login">
		<h1>
			<%= title %>
		</h1>
	</div>
	<!-- <% include user_gallery %> -->
	<% include script.ejs%>
</body>

</html>